.navbar {
  height: 60px;
  background: #ffffff;
  padding: 2px 24px;
  border-bottom: #cccccc 1px solid;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  color: inherit;
  text-decoration: none;
}
.navbar a:visited {
  color: inherit;
}
.nav-right
{
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  margin: 0;
  font-size: 24px;
  font-family: "Cafe24ProUp", sans-serif;
}


.nav-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}


/* 검색 입력 */
.search-input {
  margin-left: 16px;
  padding: 8px 10px;
  width: 220px;
  background-color: #e9e9e9;
  border-radius: 10px;
  border: 1px solid #cccccc;
  outline: none;
}
@media (max-width: 600px) {
  .search-input {
    width: 140px;
    margin-left: 8px;
    padding: 6px 8px;
  }
}

.search-input:focus {
  border-color: #000000;
}

.logo-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.nav-button {
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  margin: 5px;
}

.nav-button.default {
  background: #f0f0f0;
  color: #000;
}
.nav-button.signup {
  background: #000;
  color: #fff;
}
.nav-button:hover {
  opacity: 0.8;
}

