:root {
    --swiper-theme-color: #000;
}
.swiper {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.swiper-button-prev,
.swiper-button-next {
    width: 20px;
    height: 20px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 16px;
    color: #000000 !important;
    font-weight: 700;         
}


.swiper-button-disabled {
    opacity: 0.3;
}
/* 
.toprated .swiper-slide {
  width: min(240px, 22vw);
} */